@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Inter', sans-serif;
  }
  
  header {
    background-image: url('https://source.unsplash.com/featured/?coffee');
    background-size: cover;
    background-position: center;
  }
  
  header h1 {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  }
  
  .main-content {
    max-width: 600px;
    margin: 0 auto;
  }